In [4]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET
import re
import copy

def clean_excess_space(string_list):
    new_list = []
    for entry in string_list:
        new_list.append(re.sub(r"""\n\s{1,}""", " ", entry))
    
    return new_list

def get_tables_from_xml_file(filepath):

    tree = ET.parse(filepath)
    root = ET.tostring(tree.getroot())
    content_list = []
    total_list = []
    sub_header = []
    all_tables = []
    all_headers = []
    counter = 0
    table_lists = tree.iter('{http://www.elsevier.com/xml/common/dtd}table')
    for table in table_lists:
        # get the head column
        header = []
        lst = table.iter('{http://www.elsevier.com/xml/common/cals/dtd}thead')
        for tags in lst:
            rows = tags.findall('{http://www.elsevier.com/xml/common/cals/dtd}row')
            entry_list = rows[0].findall('{http://www.elsevier.com/xml/common/dtd}entry')
            for every_entry in entry_list:
                total = ''
                for x in every_entry.itertext():
                    total = total + x
                total_list.append(total)
                if 'nameend' in every_entry.attrib.keys():
                    if every_entry.attrib['nameend'][:3] == 'col':
                        namest = int(every_entry.attrib['namest'][3:])
                        nameend = int(every_entry.attrib['nameend'][3:])
                        total_list = total_list + ['']*(nameend - namest)
            
            total_list = clean_excess_space(total_list)
            header.append(total_list)
            
            if len(rows) == 2:
                entry_list = rows[1].findall('{http://www.elsevier.com/xml/common/dtd}entry')
                for more_entry in entry_list: 
                    total2 = ''
                    for y in more_entry.itertext():
                        total2 =  total2 + y 
                    sub_header.append(total2)
                sub_header = clean_excess_space(sub_header)
                content_list.append(sub_header)
                header.append(sub_header)
            
        lst2 = table.iter('{http://www.elsevier.com/xml/common/cals/dtd}tbody')
        for data in lst2:
            rows = data.findall('{http://www.elsevier.com/xml/common/cals/dtd}row')
            for row in rows: 
                entry_list = row.findall('{http://www.elsevier.com/xml/common/dtd}entry')
                row_data = []
                for entry in entry_list:
                    content = entry.text 
                    row_data.append(content)
                content_list.append(clean_excess_space(row_data))
        
        rows = content_list
        df = pd.DataFrame(rows, columns = total_list)
        #print(df)
        #df.to_csv('Table' + str(counter) + '.csv',encoding='utf-8')
        counter = counter + 1
        content_list.clear()
        all_headers.append(copy.deepcopy(header))
        total_list.clear()
        sub_header.clear()
        all_tables.append(df)   
    
    return (all_tables, all_headers)

In [19]:
tables, headers = get_tables_from_xml_file('3.xml')

In [20]:
tables[0]

,Device structure,J SC (mA/cm2),V OC (V),FF (%),PCE (%),Reference
0,ITO/Cs,8.42,0.56,62.1,2.25,
1,ITO/ZnO/P3HT:PCBM/PEDOT:PSS/Ag,11.22,0.556,47.5,2.58,
2,ITO/TiO,9.0,0.56,62,3.1,
3,ITO/PTE/TiO,10.2,0.56,64,3.6,
4,ITO/ZnO(NPs)/P3HT:PCBM/PEDOT:PSS/Ag,11.17,0.623,54.3,3.3,
5,FTO/TiO,12.40,0.641,51.1,4.07,
6,ITO/annealed-Cs,11.13,0.59,63,4.19,

In [22]:
import re

In [26]:
re.search('V OC', ' V OC (V)')

In [32]:
matched_table = pd.DataFrame()
for h in headers[0][0]:
    if re.search('V OC', h):
        matched_table['V OC (V)'] = tables[0][h]
    if re.search('J SC', h):
        matched_table['J SC (mA/cm2)'] = tables[0][h]
    if re.search('FF', h):
        matched_table['FF (%)'] = tables[0][h]
    if re.search('PCE', h):
        matched_table['PCE (%)'] = tables[0][h]

In [33]:
matched_table

  J SC (mA/cm2) V OC (V) FF (%) PCE (%)
0          8.42     0.56   62.1    2.25
1         11.22    0.556   47.5    2.58
2           9.0     0.56     62     3.1
3          10.2     0.56     64     3.6
4         11.17    0.623   54.3     3.3
5         12.40    0.641   51.1    4.07
6         11.13     0.59     63    4.19

In [36]:
tables, headers = get_tables_from_xml_file('5.xml')

In [38]:
tables[0]

   Pd content   PCE       FF      Jsc    Voc  RShunt  Rseries
0         ppm     %        %  mA cm−2       V  Ω cm2    Ω cm2
1         0.1  4.55       60     −8.61   0.89     699     11.8
2      (4.91)  (63)  (−8.73)    (0.89)  (740)   (9.8)     None
3         430  3.95       57     −8.22   0.85     661     14.5
4      (4.27)  (59)  (−8.58)    (0.87)  (692)  (11.5)     None
5         860  3.44       53     −8.33   0.78     514     20.4
6      (3.79)  (56)  (−8.49)    (0.81)  (585)  (16.3)     None
7        1290  2.95       49     −7.91   0.77     416       25
8      (3.31)  (52)  (−8.12)    (0.81)  (469)  (20.9)     None
9        1710  2.81       47     −8.00   0.77     382     24.5
10     (3.25)  (52)  (−8.23)    (0.79)  (417)  (20.2)     None
11       2140  2.30       45     −7.26   0.71     377     33.5
12     (2.63)  (47)  (−7.97)    (0.75)  (381)  (32.8)     None
13       2570  2.42       45     −7.69   0.71     336     29.8
14     (2.78)  (48)  (−7.77)    (0.75)  (356)  (28.4)     None

In [48]:
matched_table2 = pd.DataFrame()
for h in headers[0][0]:
    if match_string(['V OC', 'VOC'], h):
        matched_table2['V OC (V)'] = tables[0][h]
    if  match_string(['J SC', 'JSC'], h):
        matched_table2['J SC (mA/cm2)'] = tables[0][h]
    if match_string(['FF'], h):
        matched_table2['FF (%)'] = tables[0][h]
    if match_string(['PCE'], h):
        matched_table2['PCE (%)'] = tables[0][h]

In [56]:
if len(headers[0]) == 2:
    matched_table2 = matched_table2.drop(0)

In [59]:
article_id = 2
matched_table

  J SC (mA/cm2) V OC (V) FF (%) PCE (%)
0          8.42     0.56   62.1    2.25
1         11.22    0.556   47.5    2.58
2           9.0     0.56     62     3.1
3          10.2     0.56     64     3.6
4         11.17    0.623   54.3     3.3
5         12.40    0.641   51.1    4.07
6         11.13     0.59     63    4.19

In [57]:
article_id = 5
matched_table2

   PCE (%)   FF (%) J SC (mA/cm2) V OC (V)
1     4.55       60         −8.61     0.89
2     (63)  (−8.73)        (0.89)    (740)
3     3.95       57         −8.22     0.85
4     (59)  (−8.58)        (0.87)    (692)
5     3.44       53         −8.33     0.78
6     (56)  (−8.49)        (0.81)    (585)
7     2.95       49         −7.91     0.77
8     (52)  (−8.12)        (0.81)    (469)
9     2.81       47         −8.00     0.77
10    (52)  (−8.23)        (0.79)    (417)
11    2.30       45         −7.26     0.71
12    (47)  (−7.97)        (0.75)    (381)
13    2.42       45         −7.69     0.71
14    (48)  (−7.77)        (0.75)    (356)

In [62]:
t1 = pd.DataFrame({'A': [1, 2, 3, 4],
                   'B': [10,11,12,13]})
t2 = pd.DataFrame({'B': [14,15,16,17],
                   'A': [5, 6, 7, 8],})

In [74]:
tid = 1
global_idx = [str(tid) + '_' +  str(lid) for lid in t1.index.values]
t1 = t1.set_index(pd.Index(global_idx))

In [75]:
tid = 2
global_idx = [str(tid) + '_' +  str(lid) for lid in t2.index.values]
t2 = t2.set_index(pd.Index(global_idx))

In [78]:
pd.concat([t1,t2])

     A   B
1_0  1  10
1_1  2  11
1_2  3  12
1_3  4  13
2_0  5  14
2_1  6  15
2_2  7  16
2_3  8  17

In [47]:
def match_string(patterns, string):
    upper_str = string.upper()
    return any([re.search(p, upper_str) for p in patterns])

In [45]:
match_string(['V OC', 'VOC'], ' V eaOC (V)')

[None, None]

False

In [7]:
headers[0][0]

[' Defect ', ' ΔLBIC [%] ', ' First appearance ', ' Defect identification ']

In [30]:
targeted_properties = ' ΔLBIC [%] '
targeted_materials = ' Defect '
#targeted_materials = ' DEfect'

In [23]:
if targeted_properties in headers[0][0]:
    info = tables[0][targeted_properties]

In [31]:
material = []
if targeted_materials in headers[0][0]:
    material = tables[0][targeted_materials]

In [32]:
material

0    A
1    B
2    C
3    D
4    E
5    F
Name:  Defect , dtype: object

In [14]:
info

0    −41
1    −21
2      7
3    −73
4      6
5     84
Name:  ΔLBIC [%] , dtype: object

In [19]:
material

0    A
1    B
2    C
3    D
4    E
5    F
Name:  Defect , dtype: object

In [20]:
output_table = pd.DataFrame({targeted_materials: material,
                             targeted_properties: info})

In [21]:
output_table

   Defect   ΔLBIC [%]
0        A         −41
1        B         −21
2        C           7
3        D         −73
4        E           6
5        F          84

In [130]:
tables, headers = get_tables_from_xml_file('2.xml')

In [131]:
headers

[[[' IFLs ',
   '',
   ' Device structures ',
   ' Device performance ',
   '',
   '',
   '',
   ' Ref. '],
  [' Type of materials ',
   ' Materials ',
   '',
   ' V OC (V) ',
   ' J SC (mA/cm 2 ) ',
   ' FF (%) ',
   ' PCE (%) ',
   '']],
 [[' IFLs ',
   '',
   ' Device structures ',
   ' Device performance ',
   '',
   '',
   '',
   ' Ref. '],
  [' Type of materials ',
   ' Materials ',
   '',
   ' V OC (V) ',
   ' J SC (mA/cm 2 ) ',
   ' FF (%) ',
   ' PCE (%) ',
   '']]]

In [80]:
tables[0]

,IFLs,,Device structures,Device performance,,,,Ref.
0,Type of materials,Materials,,V OC (V),J SC (mA/cm 2 ),FF (%),PCE (%),
1,,WPF-6-oxy-F,ITO/PEDOT:PSS/P3HT:PC,0.62,9.89,59.0,3.67,66
2,PF6NO25-py,ITO/PEDOT:PSS/PCDTBT:PC,0.91,11.60,66.2,6.90,68,None
3,PF6NO,ITO/PEDOT:PSS/PCDTBT:PC,0.93,7.27,62.8,6.07,69,None
4,PFNSO-BT,ITO/PEDOT:PSS/PTB7:PC,0.65,16.76,61.1,6.61,70,None
5,P3TMAHT,ITO/PEDOT:PSS/PCDTBT:PC,0.86,10.80,66.0,6.10,77,None
6,PF2/6-b-P3TMAHT,ITO/PEDOT:PSS/PCDTBT:PC,0.89,10.60,67.0,6.20,77,None
7,,bis-PC,ITO/PEDOT:PSS/PIDT-PhanQ:PC,0.88,11.19,60.0,5.87,81
8,bis-PC,ITO/PEDOT:PSS/PIDT-PhanQ:PC,0.88,11.50,61.0,6.22,81,None
9,ETL-1,ITO/PEDOT:PSS/PIDT-PhanQ:PC,0.87,11.28,64.0,6.28,82,None
10,ETL-1,ITO/PEDOT:PSS/PIDT-PhanQ:PC,0.86,11.17,62.0,5.96,82,None
11,,Graphene oxide,ITO/PEDOT:PSS/P3HT:PC,0.62,10.28,62.2,3.94,87
12,BA-OCH,ITO/PEDOT:PSS/P3HT:PC,0.65,11.61,55.0,4.21,88,None
13,BA-CH,ITO/PEDOT:PSS/P3HT:PC,0.64,11.63,49.0,3.63,88,None
14,BA-H,ITO/PEDOT:PSS/P3HT:PC,0.64,11.46,48.0,3.48,88,None
15,BA-SH,ITO/PEDOT:PSS/P3HT:PC,0.45,10.44,42.0,1.95,88,None
16,BA-CF,ITO/PEDOT:PSS/P3HT:PC,0.30,8.97,31.0,0.84,88,None
17,BA-CN,ITO/PEDOT:PSS/P3HT:PC,0.27,8.15,28.0,0.62,88,None

In [81]:
tables[1].loc[0]

 IFLs                    Type of materials
                                 Materials
 Device structures
 Device performance               V OC (V)
                           J SC (mA/cm 2 )
                                    FF (%)
                                   PCE (%)
 Ref.
Name: 0, dtype: object